<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body oncontextmenu='return false' class='snippet-body'>

	<body id="body-pd">
		<header th:replace="layout/layout :: header"></header>

		<div th:replace="layout/layout :: menu"></div>

		<!--Contenido de la Pagina-->
		<div class=" bg-light ">
			<div class="container mt-4 col-sm-8">
			
			<h3 class="text-center" style="font-family: 'Poppins', sans-serif;">Área de Influencia de las UTS</h3>
			
			<h5 class="text-center">¿Que deseas consultar?</h5>
				<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
					<div class="col">
						<div class="card">
							<i style="font-size: 80px;" class="bi bi-credit-card-2-back text-center"></i>
							<div class="card-body">
								<h5 class="card-title text-center">Puntos de Recarga</h5>
								<div class="container col-sm-8">
									<br>
									<h4 class="text-center">
										<a th:href="@{/listarPuntoRecarga}" class="btn card-text text-white" style="background-color:#C3D730"><i
												class="bi bi-pencil-square"></i> Consultar</a>
									</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card">
							<br>
							<span style="font-size: 100px;" class="material-icons text-center">edit_road</span>

							<div class="card-body">
								<h5 class="card-title text-center">Rutas</h5>
								<div class="container col-sm-8">
									<br>
									<h4 class="text-center">
										<a th:href="@{/listarRuta}" class="btn card-text text-white" style="background-color:#C3D730"><i
												class="bi bi-pencil-square"></i> Consultar</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<br><br>
		<footer class="mt-4" th:replace="layout/layout :: footer"></footer>
		<div th:replace="layout/layout :: scripts"></div>

	</body>

</html>